# Importing required Dependencies

In [1]:
import pandas as pd
from flask import Flask, jsonify, request
import sqlite3
import requests

In [2]:
buisness_hours_df = pd.read_csv('buisness_hours.csv')
store_status_df = pd.read_csv('store_status.csv')
timezones_df = pd.read_csv('timezones.csv')

## Checking null values and filling them with default values

In [3]:
print(buisness_hours_df.head)
print(store_status_df.head)
print(timezones_df.head)

<bound method NDFrame.head of                   store_id  day start_time_local end_time_local
0      1481966498820158979    4         00:00:00       00:10:00
1      1481966498820158979    2         00:00:00       00:10:00
2      1481966498820158979    0         00:00:00       00:10:00
3      1481966498820158979    1         00:00:00       00:10:00
4      1481966498820158979    5         00:00:00       00:10:00
...                    ...  ...              ...            ...
86193  1774428314218854399    4         00:00:00       23:59:59
86194  1774428314218854399    6         00:00:00       23:59:59
86195  1774428314218854399    3         00:00:00       23:59:59
86196  1774428314218854399    2         00:00:00       23:59:59
86197  1774428314218854399    1         00:00:00       23:59:59

[86198 rows x 4 columns]>
<bound method NDFrame.head of                     store_id    status                   timestamp_utc
0        8419537941919820732    active  2023-01-22 12:09:39.388884 UTC
1          54515546588432327    active  2023-01-24 09:06:42.605777 UTC
2        8377465688456570187    active  2023-01-24 09:07:26.441407 UTC
3        5955337179846162144    active  2023-01-24 09:08:07.634899 UTC
4        1169347689335808384    active  2023-01-24 09:08:18.436854 UTC
...                      ...       ...                             ...
1822075  9103029069217106077  inactive  2023-01-20 09:02:21.705125 UTC
1822076  5532343280896549215  inactive  2023-01-21 02:03:58.311087 UTC
1822077  3794430814933142786  inactive  2023-01-21 04:04:20.916254 UTC
1822078  4192592653801050907  inactive  2023-01-21 15:11:50.902575 UTC
1822079  3846497499881872792  inactive  2023-01-21 08:04:26.177456 UTC

[1822080 rows x 3 columns]>
<bound method NDFrame.head of                   store_id                  timezone_str
0      8139926242460185114                   Asia/Beirut
1      5415949628544298339                 America/Boise
2      3408529570017053440                America/Denver
3      9055649751952768824                America/Denver
4      4428372089193592098                America/Denver
...                    ...                           ...
13554  8281452819447825055  America/Indiana/Indianapolis
13555  8095410679721836114  America/Indiana/Indianapolis
13556  5588208013269746483  America/Indiana/Indianapolis
13557  7020170113785825189  America/Indiana/Indianapolis
13558  7869742085537243781  America/Indiana/Indianapolis

[13559 rows x 2 columns]>

In [4]:
print(buisness_hours_df.isnull().sum().sum())
print(store_status_df.isnull().sum().sum())
print(timezones_df.isnull().sum().sum())

0
0
0

In [ ]:
column_name = "end_time_local"

max_value = buisness_hours_df[column_name].max()


print(f"The maximum value in the '{column_name}' column is: {max_value}")

is_null_values = buisness_hours_df[column_name].isnull()

num_null_values = is_null_values.sum()

print(f"The number of null values in '{column_name}' column: {num_null_values}")

## Connecting to Database 'Stores'  in Sqlite3

In [23]:
conn = sqlite3.connect("stores.db")
cursor = conn.cursor()

query_store_status = '''CREATE TABLE store_status (
        store_id VARCHAR(255) PRIMARY KEY,
        timestamp_utc TIMESTAMP NOT NULL,
        status VARCHAR(10) NOT NULL
    );'''

query_business_hours='''
    CREATE TABLE business_hours (
        store_id VARCHAR(255) PRIMARY KEY,
        day_of_week INTEGER NOT NULL,
        start_time_local TIME,
        end_time_local TIME
    );'''

query_store_timezones='''
    CREATE TABLE store_timezones (
        store_id VARCHAR(255) PRIMARY KEY,
        timezone_str VARCHAR(255) NOT NULL
    );'''

query_report_status='''
    CREATE TABLE report_status (
        report_id VARCHAR PRIMARY KEY,
        status VARCHAR NOT NULL
    );'''
queries = [query_store_status,query_business_hours,query_store_timezones,query_report_status]
for i in range(len(queries)):
    cursor.execute(queries[i])
conn.commit()
conn.close()